* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-vermelho: #b40227;
    --cor-de-fundo: rgb(0, 0, 0);
    --botao-vermelho-efeito: #ff2a2a;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(img/backgroundRaceTv+.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 8em;
}

.container__imagem {
    width: 65%;
}

.container__botao {
    background-color: var(--botao-vermelho);
    color: var(--branco-principal);
    border-radius: 5px;
    display: block;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.container__aviso {
    text-decoration: underline;
    color: var(--cinza-secundario);
}